.Wrapper {
    background-color: #E5E5E5;
    padding-left: 18px;
    padding-right: 18px;
}

.Container {
    padding: 15px 0px;
    border-radius: 10px;
    padding-left: 10px;
}

.InnerContainer {
    border-left: 4px solid #CB4CB6;
    padding-left: 13px;
    padding-right: 13px;
}

.Even {
    background-color: #FFFFFF;
}

.Arrow {
    color: #999999;
    float: right;   
}