.Header {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;   
}

.HeaderSubContainers {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.HeadUI {
    padding-top: 10px;
}

.HeadH2 {
    font-weight: 500;
    font-size: 14px;
    color: #585C62;
    text-transform: uppercase;
    margin-bottom: 0;
}

.HeadH4 {
    font-weight: 300;
    font-size: 11px;
    color: #666666;
    margin-top: 0;
}

.Underline {
    text-decoration: underline;
}

.InputContainer {
    width: 200px;
    height: 25px;
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-weight: 300;
    font-size: 12px;
    margin-right: 9px;
    padding-top: 6px;
    padding-left: 5px; 
}

.SearchIcon {
    font-size: 15px;
    color: #666666;
    margin-right: 3px;
}

.Input {
    border: none;
    background-color:transparent;
    outline: none;
}